html {
    position: relative;
    min-height: 100%;
    margin: 0;
}

body {
    min-height: 100%;
}

.footer {
    position: absolute; /* 부모가 relative고 자식이 absolute면 좌표 기준이 부모*/
    left: 0;
    right: 0;
    bottom: 0;

    width: 100%;
    padding: 15px 0;
    text-align: center;
}

.content {
    margin: 50px auto 100px; /* 위 50px, 좌우 200px, 아래 100px */
    max-width: 1200px;
}

@keyframes blink {
    0%   { background-color: #dc3545; }  /* Bootstrap bg-danger 기본색 */
    50%  { background-color: #f27b92; }  /* 조금 밝게 */
    100% { background-color: #dc3545; }
}

.blink {
    animation: blink 1s infinite; /* 1초 간격으로 무한 깜빡임 */
    color: white;                 /* 글자색 흰색 유지 */
}