html {
    position: relative;
    min-height: 100%;
    margin: 0;
}

body {
    min-height: 100%;
}

.footer {
    position: absolute; /* 부모가 relative고 자식이 absolute면 좌표 기준이 부모*/
    left: 0;
    right: 0;
    bottom: 0;

    width: 100%;
    padding: 15px 0;
    text-align: center;
}

.content {
    margin: 50px 200px 100px; /* 위 50px, 좌우 200px, 아래 100px */
}