<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

    <div layout:fragment="content" style="text-align: center">
        <h1>Main Page</h1>
        <br>
        <img th:src="'/images/item/'+${imgPath}">
    </div>

    <th:block layout:fragment="css">
        <style>
        </style>
    </th:block>

    <th:block layout:fragment="script">
        <script>
            console.log("페이지 전용 스크립트");
        </script>
    </th:block>

</html>